.bash_history
.directory
OLD_facumedero.github.io/
Old Firefox Data/
Peliculas/
Pruebas/
Tramites/
blog/
facumedero.github.io/
myblog/
py-api-5mins/
react/
ruby-docker/
ruby-elk-mongodb-project/
slyt/
steam.desktop

